@model IEnumerable<ChessWebApplication.Models.Results>

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WeekNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Winner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WTotalScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LTotalScore)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WeekNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Winner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WTotalScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LTotalScore)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WeekNum }) |
            @Html.ActionLink("Details", "Details", new { id=item.WeekNum }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WeekNum })
        </td>
    </tr>
}

</table>
